/* golbal css  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: box;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    background-color: white;
    /* background-color: rgba(82, 193, 208, 0); */
    transition: background-color 0.9s ease;
}

section {
    overflow: hidden !important;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* ----------- */




/* header */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    z-index: 999;
}

.navbar {
    top: 10px;
    max-width: 1400px;
    width: 90%;
    position: absolute;
}

nav {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}

ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}

ul:hover li a {
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(5px);
}

ul li a:hover {
    /* transform: scale(2); */
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: #52C1D0;
}

ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #52C1D0; */
    color: #52C1D0;
    transition: 0.5s;
    transform-origin: center;
    transform: scaleX(0);
    z-index: -1;
}

ul li a:hover:before {
    transition: transform 0.5s;
    transform-origin: center;
    /* transform: scaleX(1); */
}


/* mobile menu */
.hamburger {
    z-index: 999;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 30px;
    justify-content: space-between;
}

.bar {
    width: 100%;
    height: 6px;
    background-color: #ffffff;
    transition: 0.3s;
}

.hamburger.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 12px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.tab-mob-menu {
    /* position: relative; */
    overflow: hidden;
}

.menu-container {
    position: absolute;
    right: -120%;
    /* Initially hidden off-screen */
    top: 0;
    transition: right 0.5s ease-in-out;
    padding: 50px 0px;
    display: flex;
    background: #52c1d054;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

.menu-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

/* header mobile version */

.three {

    right: 0;
    /* Initially hidden off-screen */

}

/* -- */

.tablet-mobile-menu {
    display: none;
}



/* ----- */







/* banner section 1st */


.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 45vh;
    padding-bottom: 35vh;
    background-image: url('./images/banner\ image.png');
    background-position: center;
    background-size: cover;
}

/* .flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.content-center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content {
    max-width: 900px;
    width: 80%;
}

.banner-content h1 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 120px;
    font-style: normal;
    font-weight: 900;
    line-height: 125px;
    /* 89.091% */
    text-transform: uppercase;

}

.banner-content p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 154.545% */

}


/* ------ */




section {
    height: 100%;
}







/* home 2nd sec */
.section2 .section {
    /* background-color: #FFFFFF; */
    display: flex;
    /* background-color: #52C1D0; */
    background-color: transparent;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.section2 .section .flex-row .col1 {
    padding: 0px 40px;
    /* background-color: #52C1D0; */
    /* padding-left: 50px; */
    width: 45%;
    background-color: transparent;
}

.section2 .section .flex-row .col2 {
    /* background-image: url(./images/Final-bulb\ 1.png); */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 60%;
    background-size:contain;
    align-items: center;
    justify-content: flex-start;


}

.bg-img {
    height: 100%;
    padding: 600px 0px;
}

.section2 .section .flex-row {
    background-color: transparent;
    /* background-color: #52C1D0; */
    width: 100%;
    max-width: 1800px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.section2 .section .flex-row .alignment .sub-heading h2 {
    word-wrap: break-word;
    color: #ffffff;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 87px;
    /* 129.333% */
    text-transform: uppercase;

}

.section2 .section .flex-row .alignment .paragraph p {
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    /* 154.545% */
}

.section2 .section .flex-row .button-container button a {
    transition: all 0.4s ease-in-out;
    color: #FFF;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section2 .button-container button {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: 100%;
    padding: 15px;
    border: 2px solid #7FDAE7;
    background: #40B9C9;
}

.section2 .button-container button:hover {
    transform: scale(1.03);
    background: #ffffff;
    border: 2px solid #ffffff;
}

.section2 .button-container button:hover a {
    color: #7FDAE7 !important;
    /* Text color remains unchanged on hover */
}

.sub-heading {
    margin-bottom: 30px
}

.paragraph {
    margin-bottom: 30px
}

/* -----------*/

/* @media only screen and (max-width:1200px) {

    .alignment .sub-heading h2 {
        font-size: 50px;
        line-height: 67px;
    }

    .section2 .section .flex-row .col1 {
        padding-left: 20px;
        padding-right: 20px;
        
    }

    .bg-img {
        height: 100%;
        padding: 400px 0px;
    }
}
 */










#col1 {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

#col2 {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

#col3 {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}




/* sec 3 */
.section3 .section {
    display: flex;
    background-color: #ffffff;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.section3 .section .flex-row .col1 {
    padding: 0px 40px;
    /* background-color: #52C1D0; */
    /* padding-left: 100px; */
    width: 45%;
    background: transparent;
}

.section3 .section .flex-row .col2 {
    background-image: url(./images/bottel\ final.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 60%;
    background-size: cover;
    align-items: center;
    justify-content: flex-start;


}

.section3 .section .flex-row {
    background-color: transparent;
    /* background-color: #ffffff; */
    width: 100%;
    max-width: 1800px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.section3 .section .flex-row .alignment .sub-heading h2 {
    word-wrap: break-word;
    color: #082C4C;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 87px;
    /* 129.333% */
    text-transform: uppercase;

}

.section3 .section .flex-row .alignment .paragraph p {
    color: #395874;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    /* 154.545% */
}

.section3 .section .flex-row .button-container button a {
    color: #082C4C;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.4s ease-in-out;
}

.width-a {
    display: inline-block !important;
    float: left;
}

button.width-o {
    display: inline-block !important;
    float: left;
    margin: 0px;
    width: 50% !important;
}

.section3 .button-container button {
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border: 2px solid #C1D5E7;
    background: #EDF4F4;
    overflow: hidden;
    transition: all 0.4s ease-in-out;

}

.section3 .button-container button:hover {
    transform: scale(1.03);
    background: #082C4C;
    border: 2px solid #082C4C;
}

.section3 .button-container button:hover a {
    color: #ffffff !important;
    /* Text color remains unchanged on hover */
}

.button-row {
    display: flex;
    column-gap: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* @media only screen and (max-width:1200px) {

    .alignment .sub-heading h2 {
        font-size: 50px;
        line-height: 67px;
    }

    .section3 .section .flex-row .col1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .bg-img {
        height: 100%;
        padding: 400px 0px;
    }
} */

/* -------------- */




















/* sec 4 */
.section4 .section {
    background-color: transparent;
    display: flex;
    /* background-color: #082C4C; */

    align-items: center;
    justify-content: center;
}

.section4 .section .flex-row .col1 {
    padding: 0px 40px;
    /* background-color: #52C1D0; */
    /* padding-left: 100px; */
    width: 45%;
}

.section4 .section .flex-row .col2 {
    background-image: url(./images/final\ tree.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 60%;
    background-size: contain;
    align-items: center;
    justify-content: flex-start;


}

.section4 .section .flex-row {
    background-color: transparent;
    /* background-color: #082C4C; */
    width: 100%;
    max-width: 1800px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.section4 .section .flex-row .alignment .sub-heading h2 {
    word-wrap: break-word;
    color: #ffffff;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 87px;
    /* 129.333% */
    text-transform: uppercase;

}

section {
    background-color: transparent;
}

.section4 .section .flex-row .alignment .paragraph p {
    color: #ffffff;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    /* 154.545% */
}

.section4 .section .flex-row .button-container button a {
    transition: all 0.4s ease-in-out;
    color: #FFF;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section4 .button-container button {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border: 2px solid #396083;
    background: #0D375C;
}

.section4 .button-container button:hover {
    transform: scale(1.03);
    background: #ffffff;
    border: 2px solid #ffffff;
}

.section4 .button-container button:hover a {
    color: #0D375C !important;
    /* Text color remains unchanged on hover */
}

.button-row {
    display: flex;
    column-gap: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* @media only screen and (max-width:1200px) {

    .alignment .sub-heading h2 {
        font-size: 50px;
        line-height: 67px;
    }

    .section4 .section .flex-row .col1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .bg-img {
        height: 100%;
        padding: 400px 0px;
    }
} */

/* -------------- */



















/* section5 */
section.section5 {
    background-color: #ffffff;
}

.slider-main {
    padding: 150px 0px;
    display: flex;
    /* width: 90%; */
    /* max-width: 1600px; */
    justify-content: center;
    align-items: center;
}

.slider {
    max-width: 1600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-arrows-container {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-arrows-container .arrows {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
    font-size: 24px;
}

.slider-container {
    overflow: hidden;
    width: 100%;
    /* Adjust the width as needed */
    position: relative;
}

.slide {
    width: 100%;
    display: none;
    padding: 50px 0px;
}

.slide p {

    color: #000;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px;
    /* 126.667% */
}

.complete-percentage {
    width: 100%;
    margin-bottom: 30px;
    height: 5px;
    background-color: #ffffff;
    margin-top: 10px;
    position: relative;
}

.complete-percentage span {
    display: block;
    height: 100%;
    background: #52C1D0;
    transition: width 0.3s ease;
    /* Transition effect for a smoother animation */
}

.tabs-container {
    column-gap: 5px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* styles.css */

.tabs {
    width: 100%;
    /* background-color: #ccc; */
    margin: 0 0px;
    cursor: pointer;
}

.tabs h4 {
    margin-bottom: 0px;
    color: #000;
    font-family: Poppins;
    font-size: 22.416px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tabs p {
    margin-top: 5px;
    color: #626262;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.tabs.active {
    /* Removed the border effect from active tabs */
}







/* section6 */
.row {
    background: #52C1D0;
    display: flex;
    padding: 100px 30px;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.column h2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 97px;
    text-transform: capitalize;
}

.column button {
    padding: 10px 0px;
    border: 2px solid #FFF;
    background: transparent;
    transition: all 0.3s ease-in-out;

}

.column button a {
    transition: all 0.3s ease-in-out;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    text-decoration: none;
    font-size: 33px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
    text-transform: uppercase;
    padding: 30px;
}

.column button:hover {
    transform: scale(1.03);
    background: #ffffff;
    border: 2px solid #ffffff;

}

.column button:hover a {
    color: #7FDAE7 !important;
    /* Text color remains unchanged on hover */
}







.padding {
    padding: 20vh 30px;
}















/* footer */
footer {
    background-color: white;
}

footer .row {
    padding: 50px 0px;
    background-color: white;
}

footer .column {
    max-width: 1400px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .inner-column1 {
    column-gap: 20px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

footer .inner-column2 {
    display: flex;
    margin-top: 80px;
    width: 90%;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: flex-start;
}

p.gray-text {
    color: #C3C3C3;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

footer p {
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
}

footer .inner-column2-item4 {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

footer .inner-column2-item3 {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

footer .inner-column2-item2 {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

footer .inner-column2-item1 {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

/* FOOTER END THERE */


















/* ABOUT PAGE CSS START FROM HERE */


/* banner */
.about-section1 {
    background-image: url(./images/about-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35vh;
    padding-bottom: 25vh;
    padding-left: 30px;
    padding-right: 30px;
}



div.b-h h1 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}



.d-f-a-j .w-m-d-f-a-j .b-s-h p {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.d-f-a-j .w-m-d-f-a-j .b-s-h p span {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
}
/* -------------------------------- */


/* about section2  */
.about-section2{
    background: #52C1D0;
    padding: 150px 0px;
}
.d-f-a-j {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.w-m-d-a-j {
    width: 90%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 50px;
}



.col {
    width: 50%;
}


.col h2{
    color: #FFF;
/* text-align: center; */
font-family: Poppins;
font-size: 67px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
}


.col p{
    color: #FFF;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 34px; /* 154.545% */
}



.col img{
width: 80%;
}

.m-t{
    margin-top: 100px;

}



.w-m-d-f-a-j {
    width: 90%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    column-gap: 50px;
}


.heading-and-para  h2{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 67px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
}

.heading-and-para{
width: 80%;
}



.heading-and-para p{
    color: #FFF;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
text-align: center;
line-height: 34px; /* 154.545% */
}

/* ------------- */
/* ABOUT PAGE CSS END FROM THEIR */