/* golbal css  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: box;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    background-color: white;
    /* background-color: rgba(82, 193, 208, 0); */
    transition: background-color 0.9s ease;
}

section {
    overflow: hidden !important;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* ----------- */

nav.tablet-mobile-menu {
    display: none;
}


/* header */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    z-index: 999;
}

.navbar {
    z-index: 9999999999999999999999999;
    top: 10px;
    max-width: 1400px;
    width: 90%;
    position: absolute;
}

nav {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}

ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}

ul:hover li a {
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(5px);
}

ul li a:hover {
    /* transform: scale(2); */
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: #52C1D0;
}

ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #52C1D0; */
    color: #52C1D0;
    transition: 0.5s;
    transform-origin: center;
    transform: scaleX(0);
    z-index: -1;
}

ul li a:hover:before {
    transition: transform 0.5s;
    transform-origin: center;
    /* transform: scaleX(1); */
}

/* ----- */

/* drop-down-menu */
.menu-li-items-container {
    display: flex;
    width: 50%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-content-container {
    width: 50%;
}

.menu-box {
    /* transition: height 0.8s ease-out; */
    position: absolute;
    top: 100%;
    overflow: hidden !important;

    visibility: hidden;
    height: 0px;
    background: #00192E;
    padding: 50px 30px;
    column-gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.4s ease;
}

.toping .navbar .dropdown-menu {
    margin-top: 70px;
}

.menu-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* height: 700px; */
    justify-content: center;
    flex-direction: column;
}

.menu-content-container h3 {
    color: #FFF;
    font-family: Poppins;
    margin-bottom: 20px;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 37px;
    /* 148% */
    text-transform: uppercase;
}

.menu-li-items-container {
    /* overflow: hidden !important; */
    /* z-index:9999999999999 ; */
}

.menu-content-container p {
    color: #FFF;
    font-family: Poppins;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 175% */
}

.li-item {
    /* padding: 20px; */
    overflow: hidden;
    transition: 0.4s ease-in-out;
    width: 46%;
}

.li-item:hover {
    overflow: hidden;
    box-shadow: 0px 0px 10px #ffffff3d;
    transform: scale(1.08);
}

.li-item:hover P {
    color: white;
}

.li-item a p {
    padding: 10px 10px;
    transition: color 0.4s ease-in-out;
    color: #838383;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

#development-menu .li-item {
    transition: 0.4s ease-in-out;
    width: 25%;
}

/* ---- */





/* banner section 1st */


.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 45vh;
    padding-bottom: 35vh;
    background-image: url('./images/banner\ image.png');
    background-position: center;
    background-size: cover;
}

/* .flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.content-center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content {
    max-width: 900px;
    width: 80%;
}

.banner-content h1 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 120px;
    font-style: normal;
    font-weight: 900;
    line-height: 125px;
    /* 89.091% */
    text-transform: uppercase;

}

.banner-content p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 154.545% */

}


/* ------ */




section {
    height: 100%;
}







/* home 2nd sec */
.section2 .section {
    /* background-color: #FFFFFF; */
    display: flex;
    /* background-color: #52C1D0; */
    background-color: transparent;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.section2 .section .flex-row .col1 {
    padding: 0px 40px;
    /* background-color: #52C1D0; */
    padding-left: 100px;
    width: 45%;
    background-color: transparent;
}

.section2 .section .flex-row .col2 {
    /* background-image: url(./images/Final-bulb\ 1.png); */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 55%;
    background-size: contain;
    align-items: center;
    justify-content: flex-start;


}

.bg-img {
    height: 100%;
    padding: 600px 0px;
}

.bg-imgg img {
    width: 150%;
}

.section2 .section .flex-row {
    background-color: transparent;
    /* background-color: #52C1D0; */
    width: 100%;
    max-width: 1800px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.section2 .section .flex-row .alignment .sub-heading h2 {
    word-wrap: break-word;
    color: #ffffff;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 87px;
    /* 129.333% */
    text-transform: uppercase;

}

.section2 .section .flex-row .alignment .paragraph p {
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    /* 154.545% */
}

.section2 .section .flex-row .button-container button a {
    transition: all 0.4s ease-in-out;
    color: #FFF;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section2 .button-container button {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: 100%;
    padding: 15px;
    border: 2px solid #7FDAE7;
    background: #40B9C9;
}

.section2 .button-container button:hover {
    transform: scale(1.03);
    background: #ffffff;
    border: 2px solid #ffffff;
}

.section2 .button-container button:hover a {
    color: #7FDAE7 !important;
    /* Text color remains unchanged on hover */
}

.sub-heading {
    margin-bottom: 30px
}

.paragraph {
    margin-bottom: 30px
}

/* -----------*/








#col1 {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

#col2 {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

#col3 {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}




/* sec 3 */
.section3 .section {
    display: flex;
    background-color: #ffffff;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.section3 .section .flex-row .col1 {
    padding: 0px 40px;
    /* background-color: #52C1D0; */
    padding-left: 100px;
    width: 45%;
    background: transparent;
}

.section3 .section .flex-row .col2 {
    /* background-image: url(./images/bottel\ final.png); */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 55%;
    background-size: cover;
    align-items: center;
    justify-content: flex-start;


}

.section3 .section .flex-row {
    background-color: transparent;
    /* background-color: #ffffff; */
    width: 100%;
    max-width: 1800px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.section3 .section .flex-row .alignment .sub-heading h2 {
    word-wrap: break-word;
    color: #082C4C;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 87px;
    /* 129.333% */
    text-transform: uppercase;

}

.section3 .section .flex-row .alignment .paragraph p {
    color: #395874;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    /* 154.545% */
}

.section3 .section .flex-row .button-container button a {
    color: #082C4C;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.4s ease-in-out;
}

.width-a {
    display: inline-block !important;
    float: left;
}

button.width-o {
    display: inline-block !important;
    float: left;
    margin: 0px;
    width: 50% !important;
}

.section3 .button-container button {
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border: 2px solid #C1D5E7;
    background: #EDF4F4;
    overflow: hidden;
    transition: all 0.4s ease-in-out;

}

.section3 .button-container button:hover {
    transform: scale(1.03);
    background: #082C4C;
    border: 2px solid #082C4C;
}

.section3 .button-container button:hover a {
    color: #ffffff !important;
    /* Text color remains unchanged on hover */
}

.button-row {
    display: flex;
    column-gap: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}




















/* sec 4 */
.section4 .section {
    background-color: transparent;
    display: flex;
    /* background-color: #082C4C; */

    align-items: center;
    justify-content: center;
}

.section4 .section .flex-row .col1 {
    padding: 0px 40px;
    /* background-color: #52C1D0; */
    padding-left: 100px;
    width: 45%;
}

.section4 .section .flex-row .col2 {
    /* background-image: url(./images/final\ tree.png); */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 55%;
    background-size: contain;
    align-items: center;
    justify-content: flex-start;


}

.section4 .section .flex-row .col2 .bg-imgg {
    /* margin-left: 100p; */
}

.section4 .section .flex-row {
    background-color: transparent;
    /* background-color: #082C4C; */
    width: 100%;
    max-width: 1800px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.section4 .section .padding {
    column-gap: 100px;
}

.section4 .section .flex-row .alignment .sub-heading h2 {
    word-wrap: break-word;
    color: #ffffff;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 87px;
    /* 129.333% */
    text-transform: uppercase;

}

section {
    background-color: transparent;
}

.section4 .section .flex-row .alignment .paragraph p {
    color: #ffffff;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    /* 154.545% */
}

.section4 .section .flex-row .button-container button a {
    transition: all 0.4s ease-in-out;
    color: #FFF;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section4 .button-container button {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border: 2px solid #396083;
    background: #0D375C;
}

.section4 .button-container button:hover {
    transform: scale(1.03);
    background: #ffffff;
    border: 2px solid #ffffff;
}

.section4 .button-container button:hover a {
    color: #0D375C !important;
    /* Text color remains unchanged on hover */
}

.button-row {
    display: flex;
    column-gap: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* @media only screen and (max-width:1200px) {

    .alignment .sub-heading h2 {
        font-size: 50px;
        line-height: 67px;
    }

    .section4 .section .flex-row .col1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .bg-img {
        height: 100%;
        padding: 400px 0px;
    }
} */

/* -------------- */



















/* section5 */
section.section5 {
    background-color: #ffffff;
}

.slider-main {
    padding: 150px 0px;
    display: flex;
    /* width: 90%; */
    /* max-width: 1600px; */
    justify-content: center;
    align-items: center;
}

.slider {
    max-width: 1600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-arrows-container {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-arrows-container .arrows {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
    font-size: 24px;
}

.slider-container {
    overflow: hidden;
    width: 100%;
    /* Adjust the width as needed */
    position: relative;
}

.slide {
    width: 100%;
    display: none;
    padding: 50px 0px;
}

.slide p {

    color: #000;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px;
    /* 126.667% */
}

.complete-percentage {
    width: 100%;
    margin-bottom: 30px;
    height: 5px;
    background-color: #ffffff;
    margin-top: 10px;
    position: relative;
}

.complete-percentage span {
    display: block;
    height: 100%;
    background: #52C1D0;
    transition: width 0.3s ease;
    /* Transition effect for a smoother animation */
}

.tabs-container {
    column-gap: 5px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* styles.css */

.tabs {
    width: 100%;
    /* background-color: #ccc; */
    margin: 0 0px;
    cursor: pointer;
}

.tabs h4 {
    margin-bottom: 0px;
    color: #000;
    font-family: Poppins;
    font-size: 22.416px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tabs p {
    margin-top: 5px;
    color: #626262;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.tabs.active {
    /* Removed the border effect from active tabs */
}







/* section6 */
.row {
    background: #52C1D0;
    display: flex;
    padding: 100px 30px;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.column h2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 97px;
    text-transform: capitalize;
}

.column button {
    padding: 10px 0px;
    border: 2px solid #FFF;
    background: transparent;
    transition: all 0.3s ease-in-out;

}

.column button a {
    transition: all 0.3s ease-in-out;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    text-decoration: none;
    font-size: 33px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
    text-transform: uppercase;
    padding: 30px;
}

.column button:hover {
    transform: scale(1.03);
    background: #ffffff;
    border: 2px solid #ffffff;

}

.column button:hover a {
    color: #7FDAE7 !important;
    /* Text color remains unchanged on hover */
}







.padding {
    padding: 20vh 30px;
}
.img-area-v{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.img-area-v video{
    width: 100% !important;
}




.light-text{
    color: #ffffff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.section3 .light-text{
    color: #082C4C;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}


/* footer */
footer {
    background-color: white;
}

footer .row {
    padding: 50px 0px;
    background-color: white;
}

footer .column {
    max-width: 1400px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .inner-column1 {
    column-gap: 20px;
    display: flex;
    width: 80%;
    align-items: flex-start;
    justify-content: space-between;
}

footer .inner-column2 {
    display: flex;
    margin-top: 80px;
    width: 90%;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: flex-start;
}

p.gray-text {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    column-gap: 10px;
    color: #C3C3C3;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
p.gray-text i{
    display: flex;
}
p.gray-text i img{
    width: 40px;
}
footer p {
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
}

footer .inner-column2-item4 {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

footer .inner-column2-item3 {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

footer .inner-column2-item2 {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

footer .inner-column2-item1 {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

/* FOOTER END THERE */



@media only screen and (max-width:980px) {
    .slide-item {
        width: calc(100% / 2) !important;
        box-sizing: border-box;
    }
}


@media only screen and (max-width:1200px) {

    nav.desktop-menu {
        display: none;
    }

    .banner-content h1 {

        font-size: 80px;
        font-style: normal;
        line-height: 95px;

    }

    .section2 .section .flex-row .col1 {
        width: 50%;
        padding-left: 0px;

    }

    .section2 .section .flex-row .alignment .sub-heading h2 {

        font-size: 50px;

        line-height: 60px;

    }

    .banner-content p {

        font-size: 18px;

        line-height: 28px;
    }

    .section2 .section .flex-row .col2 {

        width: 50%;

    }

    .section2 .section .flex-row .alignment .paragraph p {

        font-size: 18px;

        line-height: 28px;
    }

    .section3 .section .flex-row .col1 {

        padding-left: 0px;

    }

    .section3 .section .flex-row .alignment .sub-heading h2 {
        font-size: 50px;

        line-height: 60px;
    }

    .section3 .section .flex-row .alignment .paragraph p {
        font-size: 18px;

        line-height: 28px;
    }

    .section2 .section .flex-row .button-container button a {

        font-size: 18px;

    }

    .section3 .section .flex-row .col1 {

        width: 50%;

    }

    .section3 .section .flex-row .col2 {

        width: 50%;

    }

    .section3 .section .flex-row .button-container button a {
        font-size: 18px;

    }

    .section4 .section .flex-row .col1 {
        padding-left: 0px;
        width: 50%;
    }

    .section4 .section .flex-row .alignment .sub-heading h2 {
        font-size: 50px;
        line-height: 65px;

    }

    .section4 .section .flex-row .alignment .paragraph p {

        line-height: 28px;
        font-size: 18px;
    }

    .section4 .section .flex-row .button-container button a {
        font-size: 18px;

    }

    .slide p {

        font-size: 25px;

        line-height: 35px;
    }

    .tabs p {

        font-size: 18px;

        line-height: 24px;
    }

    .column h2 {

        font-size: 50px;
        margin-bottom: 30px;

        line-height: 55px;

    }

    .column button a {

        font-size: 18px;

        line-height: 25px;

        padding: 20px;
    }

    footer p {
        color: #000;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
    }

    footer .inner-column1 {
        column-gap: 20px;
        display: flex;
        width: 90%;
        align-items: flex-start;
        justify-content: space-between;
    }
}

@media only screen and (max-width:767px) {
    .banner-content h1 {
        font-size: 40px;

        line-height: 55px;
    }

    .banner-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .banner {

        padding-top: 35vh;
        padding-bottom: 25vh;

    }

    .section2 .section .flex-row .alignment .sub-heading h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .sub-heading {
        margin-bottom: 10px;
    }

    .section2 .section .flex-row .alignment .paragraph p {
        font-size: 14px;
        line-height: 24px;
    }

    .section2 .section .flex-row .button-container button a {
        font-size: 14px;
    }

    .section2 .section .flex-row {

        flex-direction: column;

    }

    .section2 .section .flex-row .col1 {
        width: 100%;
        padding-left: 0px;
    }

    .button-row {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row !important;

        align-items: center;
    }

    .section2 .section .flex-row .col2 {
        /* display: none; */
        width: 100%;
    }

    .bg-imgg img {
        width: 80%;
    }

    .section3 .section .flex-row {

        flex-direction: column;

    }

    .section3 .section .flex-row .col1 {
        width: 100%;
    }

    .section3 .section .flex-row .col2 {
        width: 100%;
    }

    .section3 .section .flex-row .alignment .sub-heading h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .section3 .section .flex-row .alignment .paragraph p {
        font-size: 14px;
        line-height: 24px;
    }

    .section3 .section .flex-row .button-container button a {
        font-size: 14px;
    }

    .section4 .section .flex-row {
        flex-direction: column;

    }

    .section4 .section .flex-row .alignment .sub-heading h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .section4 .section .flex-row .alignment .paragraph p {
        line-height: 24px;
        font-size: 14px;
    }

    .section4 .section .flex-row .button-container button a {
        font-size: 14px;
    }

    .section4 .section .flex-row .col1 {
        padding-left: 0px;
        width: 100%;
    }

    .section4 .section .flex-row .col2 {
        width: 100%;

    }

    .tabs-container {
        display: none;
    }

    .slide p {
        font-size: 18px;
        line-height: 25px;
    }

    .slider-main {
        padding: 50px 0px;

    }

    .column h2 {
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 40px;
    }

    .column button a {
        font-size: 14px;
        line-height: 25px;
        padding: 10px 20px;
    }

    footer .inner-column2 {
        display: flex;
        margin-top: 80px;
        row-gap: 30px;
        width: 90%;
        margin-bottom: 80px;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    footer .inner-column1 {
        column-gap: 20px;
        display: flex;
        width: 90%;
        row-gap: 30px;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    p.gray-text {
        justify-content: center;
        align-items: center;
        display: flex;
        column-gap: 10px;
        color: #C3C3C3;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
    }
    footer p {
        color: #000;
        font-family: Poppins;
        font-size: 14px;

        line-height: 24px;
    }

    .padding {
        padding: 10vh 10px;
    }

    .section2 .section .flex-row .col1 {
        width: 100%;
        padding-left: 0px;
        padding: 0px;
    }

    .section3 .section .flex-row .col1 {
        padding: 0px;
        width: 100%;
    }

    .section4 .section .flex-row .col1 {
        padding-left: 0px;
        padding: 0px;
        width: 100%;
    }

    .inner-column3 {
        border-top: 2px solid #2121212e;
        width: 100%;
        padding-top: 20px;
    }

    footer p {
        text-align: center;
    }

    footer .inner-column2 {
        display: flex;
        margin-top: 80px;
        row-gap: 30px;
        width: 90%;
        margin-bottom: 80px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bg-imgg img {
        width: 100%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500;600;700&display=swap');
@media only screen and (max-width:1200px) {
    .tablet-navbar{
        display: flex !important;
        position: absolute;
    top: 30px;
    
    }
}
.tablet-navbar nav{
    width: 100% !important;
    background-color: transparent !important;
    box-shadow: noen !important;


}

.tablet-navbar .logo a img{
    width: 60%;
}
.tablet-navbar .menu img{
    width: 50px;
}
.tablet-navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.tablet-navbar{
    display: none;
}
.tablet-dropdown-menu{
    z-index: 9999;
    height: 0px ;
    overflow: hidden;
    background-color: #082C4C;
    width: 95%;
    padding: 0px 30px;
}
.faq-content-menu-li  .ppp {
    padding-top: 20px !important;
}

.faq-content-menu-li .pppp {
    padding-bottom: 20px !important;
}
.faq-header-container{
    border:1px solid rgba(255, 255, 255, 0.415);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    /* margin-bottom: 20px; */
}
.faq-header-container p{
    color: #ffffff;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.faq-content-menu-li{
    width: 100%;
}
.faq-header-container .open-close-btn img{
    width:25px ;
   
}
.li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}
.open-close-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Added transition */
}

.faq-content-menu-li {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Added transition */
    padding: 0px 10px;
    width: 100%;
    background-color: #ffffff;
    padding: 0px 10px;
}
.faq-content-menu-li a{
    
    width: 100% !important;
}
.faq-content-menu-li a p{
    color: #000000;
    
    text-transform: uppercase;
    padding: 5px 0px;
    width: 100%;
    font-family: Poppins;
    text-align: left;
    transition:  0.5s ease-in-out;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding: 0px 10px; */
}
.faq-content-menu-li a p:hover{
    color: #52C1D0;
    transform: scale(1);
    font-weight: 700;
}
.open-close-btn .open-close-btn {
    display: flex;
    flex-direction: column;
}

.close {
    display: none;
    transition: 0.3s ease-in-out;
}
.close:hover {
    transform: scale(1.1);
    
}
.open:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
   
}
.open-humburger{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.open-humburger:hover{
    transform: scale(1.1);
}
#tabletDropdownMenu {
    height: 0px;
    overflow: hidden;
    background-color: #082C4C;
    width: 95%;
    padding: 0px 30px;
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
}










.blog-button button{
    width: 100%;
}
.blog-slider-button {
    FLOAT: left;
    DISPLAY: inline-block;
    opacity: 0;
    margin-top: 20px;
    padding: 8px 0px;
    background: #52C1D0;
    border: 2px solid #FFF;
    transition: opacity 0.3s ease-in-out;
}
button.blog-slider-button a{
    color: #52C1D0 !important;
}
